* {box-sizing: border-box}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial;
}
/*
Navigation Bar (Includes Navbar Area, 3 Buttons)
----------------------------------------------------------------------
*/
.navbarcontainer {
  position: relative;
  width: 100%;
  height: 8.5%;
  display: flex;
  column-gap: 0px;
  flex-direction: row;
  align-items: top;
}

.navbarleft {
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  justify-content: left;
}

.navbarmiddle {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;

}

.navbarright {
  width: 100%;
  height: 100%;
  text-align: right;
  display: flex;
  justify-content: right;
}

.navbarleftbuy {
  width: auto;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: lightgoldenrodyellow;
  float: center;
  border: none;
  font-size: 15px;
  overflow: hidden;
}

.navbarleftrent {
  width: auto;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: lightgreen;
  float: center;
  border: none;
  font-size: 15px;
  overflow: hidden;
}

.navbarleftsell {
  width: auto;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: lightgoldenrodyellow;
  float: center;
  border: none;
  font-size: 15px;
  overflow: hidden;
}

.navbarlefthome-loans {
  width: auto;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: lightgreen;
  float: center;
  border: none;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.navbarleftagent-finder {
  width: auto;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: lightgoldenrodyellow;
  float: center;
  border: none;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.navbarmiddlelogo {
  width: 50%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: lightblue;
  float: center;
  border: none;
  font-size: 25px;
}

.navbarrightmanage-rentals {
  width: auto;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: lightgoldenrodyellow;
  float: center;
  border: none;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.navbarrightadvertise {
  width: auto;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: lightgreen;
  float: center;
  border: none;
  font-size: 15px;
  overflow: hidden;
}

.navbarrighthelp {
  width: auto;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: lightgoldenrodyellow;
  float: center;
  border: none;
  font-size: 15px;
  overflow: hidden;
}

.navbarrightsign-in {
  width: auto;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: lightgreen;
  float: center;
  border: none;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
}

/*
Image Area (Includes Image, Searchbar and Button inside searchbar)
--------------------------------------------------------------------
*/
.img {
  background-image: url("House Image - 1.png");
  /*
  need to fix image so it is long and stretchy
  so when people shrink page size it shrinks the non-necessary border
  need similar to zillow picture 
  background-position: center center;
  */
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;
}

.searchcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search input[type=text] {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  font-size: 17px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  text-align: left;
  padding: 20px;
  width: 750px;
  height: 75px;
  max-width: 750;
}

.search:hover {
  outline: 3px solid rgb(56, 157, 219);
  border-radius: 6px;
}

.submit {
  background-color: white;
  float: right;
  border: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 20px;
  width: 50px;
  height: 75px;
  cursor: pointer;
  max-width: 50;
}

.submit:hover {
  background-color: rgb(244, 247, 248);
}
/*
----------------------------------------------------------------------
*/
.trendingcontainer {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  height: 41.5%;
  width: 100%;
  padding-left: 40px;
}

.trendingtopbar {
  position: relative;
}

.trendingwords {
  font-size: 20px;
  margin-bottom: -15px;
}

.trendingsubwords {
  font-size: 14px;
}

.trendinghomes {
  position: relative;
}
