* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial;
}

.navbarcontainer {
  position: relative;
  width: 100%;
  height: 8.5%;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  text-align: center;
}

.tablink {
  background-color: lightblue;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 0px;
  font-size: 17px;
  height: 100%;/*75px*/
  width: 100%;
}

.tablink:hover {
  color: blue;
}

/*
#Buy {background-color: red;}
#Sell {background-color: purple;}
#Rent {background-color: purple;}
#Home-Loans {background-color: purple;}
#Agent-Finder {background-color: purple;}
#Nates-Site {background-color: purple;}
#Manage-Rentals {background-color: purple;}
#Advertise {background-color: blue;}
#Help {background-color: blue;}
#Sign-In {background-color: orange;}
*/
.img {
  background-image: url("House Image - 1.png");
  /*
  need to fix image so it is long and stretchy
  so when people shrink page size it shrinks the non-necessary border
  need similar to zillow picture 
  background-position: center center;
  */
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50%;/*91.5 when it was a full screen*/
}

.searchcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search input[type=text] {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  font-size: 17px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  text-align: left;
  padding: 20px;
  width: 750px;
  height: 75px;
  max-width: 750;
}

.search:hover {
  outline: 3px solid rgb(56, 157, 219);
  border-radius: 6px;
}

.submit {
  background-color: white;
  float: right;
  border: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 17;
  width: 50px;
  height: 75px;
  cursor: pointer;
  max-width: 50;
}

.submit:hover {
  background-color: rgb(244, 247, 248);
}
