* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: white;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 30px 16px;
  font-size: 17px;
  width: 10%;
}

.tablink:hover {
  color: blue;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
p {
  background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.utahrealestate.com%2Fsite%2Fimg%2Fcommon%2Fmarquee-08.jpg&tbnid=iPYqxNti6tqSiM&vet=12ahUKEwjO0e2Lk8WCAxW8CUQIHRMaAPcQMygCegQIARBV..i&imgrefurl=https%3A%2F%2Fwww.utahrealestate.com%2F&docid=X-JFYm5cp3_SoM&w=2048&h=830&q=utah%20homes%20for%20sale&ved=2ahUKEwjO0e2Lk8WCAxW8CUQIHRMaAPcQMygCegQIARBV');
}
/*
#Buy {background-color: red;}
#Sell {background-color: purple;}
#Rent {background-color: purple;}
#Home-Loans {background-color: purple;}
#Agent-Finder {background-color: purple;}
#Nates-Site {background-color: purple;}
#Manage-Rentals {background-color: purple;}
#Advertise {background-color: blue;}
#Help {background-color: blue;}
#Sign-In {background-color: orange;}
*/